<p>Hei! <%= @registration.name %></p>

<p>Takk for påmeldingen til teater|camp.</p>

<p>Vi har lagt ved fakturaen. Når denne er betalt har du plass på <%= link_to @camp.name, view_camp_url(@camp) %>.</p>

<p>Vi har ofte ventelister. </p>

<p>Ønsker dere ikke plassen likevel, meld fra raskt så vi kan gi den til noen andre. </p>

<p>Sjekkliste til pakking</p>
<p>Flere skift av behagelig tøy som er greit å bevege seg i, til 6 varme eller kalde sommerdager - vi har prøver og øvelser ute eller på låven - det kan være kjølig og man kan bli våt
Ekstra ullgenser, ullsokker
Vindjakke
Regntøy, Støvler
Badetøy
To par sko - gjerne et par som er godt å gå i i skogen og et par til varme dager
Lue/hatt/caps</p>
<p>Toalettsaker, håndkle, myggspray, solkrem
Sengetøy ( laken, putevar, dynetrekk)+dyne eller putetrekk, laken + sovepose
Medisiner hvis du bruker det</p>
<p>En bok du vil lese i
En bok å ta notater i +penn, blyant</p>
<p>Kamera hvis du vil ta bilder.
Ta gjerne med mobiltelefon hvis du har, vi kommer til å minne alle om å ringe hjem en gang i blant, har du ikke telefon, får du bruke teater|camptelefon. La nettbrett og datamaskiner være hjemme.</p>
<p>Du trenger ikke lommepenger - det er ingenting å kjøpe her
Ta ikke med godteri og snacks - vi spiser sammen og det blir servert teater|camp godt</p> 
