<p>Hei! <%= @registration.name %></p>

<p>Tusen takk for påmeldingen til teater|camp! </p>

<p>Vi har lagt ved fakturaen. Når denne er betalt har du plass på <%= link_to @camp.name, view_camp_url(@camp) %>.</p>

<p>Vi har ofte ventelister. Dersom dere ikke ønsker plassen likevel, meld fra raskt så vi kan gi den til noen andre. </p>

<p>Hilsen </p>

<p>Tiril og Andreas</p>
