<p>Hei! <%= @registration.name %></p>

<p>Vi kan ikke se at vi har fått inn betaling for den vedlagte fakturaen. </p> 

<p>Vi minner om at plassen på <%= link_to @camp.name, view_camp_url(@camp) %> ikke er din før fakturaen er betalt. </p>

<p>Vi har ofte ventelister.</p>

<p>Ønsker du ikke plassen likevel, meld fra raskt så vi kan gi den til noen andre. </p>

<p>Dersom fakturaen er betalt. Vennligs send en mail til andreas@lizz.no</p>