/*
*= require_self

*/
h1 a							{color:red;}

#notice_notice { background:#2e2; color:#222; }
#warning { background:#ee0; color:#222; }
#notice_error { background:#e22; color:#fff; }
.notice_message { display:block;  width: 690px; border: solid 1px #000; padding:10px; text-align:center; margin-bottom:20px; }
.error_message { display:block; width: 690px; border: solid 2px #000;padding:10px; text-align:left; margin-bottom:20px; }
.error_messages {color: #e22;}
.errorExplanation { text-align:center; background:#e22; color:#fff; }

#header							{background:#000024;}
#header_wrapper					{position:relative;width:1000px; height:150px;}

.js .checkbox_toogle{
  display:none;
}
.send_link_wr{cursor: pointer;}
.spinning {width:15px;height:15px;float:left; margin:5px 15px 0 15px; background: url('../images/spinner2.gif') no-repeat right !important; }
.passed {width:15px;height:15px;float:left; margin:5px 15px 0 15px; background: url('../images/tick.jpg') no-repeat right !important; }
.toggle{
	display: block;
	width: 50px;
	background-color: red;

}

.toggle.checked{
  background-color: green;
}

.tabs {
	position:absolute; top:117px; left:200px;
  	width:100%;
  	font-family:Verdana,Helvetica,sans-serif;
  	font-size:100%;

      }
.tabs ul{
	list-style: none;
	padding:0;
	margin:0;
	height: 32px;
}
.tabs li {
    float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
.tabs li a{
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
.tabs li:hover {
	background-color:#ccc;
}
.tabs li.active, .tabsH li.active a:hover{
	background-color:#fff;
	border-bottom: 1px solid #fff
}



.subtabs{
	position:absolute; top:160px; left:200px;
  	width:100%;
  	font-family:Verdana,Helvetica,sans-serif;
  	font-size:100%;
}
.subtabs ul{
	list-style: none;
	padding:0;
	margin:0;
	height: 32px;
}
.subtabs li {
    float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/


	overflow: hidden;
	position: relative;

}

.subtabs li a{

	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

.subtabs li.active, .tabs li.active a:hover{
	text-decoration: underline;

}


.subtabs li a{
	display: block;
float: left;
width: 100%;
}

  #logged_in {position:absolute; top:20px; right:20px;}
#logged_in a {color:#fff;}
#logged_in a:hover {color:#FC1004;}

.invoice_show tr td {
	padding: 0 20px 0 0;

}



#content						{background:#fff;}
#content_wrapper    			{width:960px;margin:0 auto;min-height:400px;height:auto!important;height:400px;padding:10px 0px 30px 0px;}
#content_wrapper #content_l		{width:690px;clear:left;float:left;padding:10px 10px 10px 0px;border-right:1px solid #eaeaea;min-height:400px;height:auto!important;height:400px;}
#content_wrapper #content_l p	{margin-bottom:10px;}
#content_wrapper #content_r	a   {font-size: 1em;}
#content_wrapper #content_r		{width:249px;float:left;padding-left:10px; }



#sub_nav ul 					{padding:15px 0px 15px 0px;}
#sub_nav ul li					{list-style:none;}
#sub_nav ul li b				{display:block;background:url(../images/pil.png) no-repeat 0px; padding:3px 0px 3px 20px;color:#cc0000;font-weight:bold;}
#sub_nav ul li a				{display:block;color:#000;font-weight:bold;}
#sub_nav ul li a:hover			{margin-left:5px;}

#search_form					{width:249px;height:59px;margin:10px 0px 10px 0px;background:url(../images/search.png) no-repeat;position:relative;}
#search_form input				{padding:5px 5px 5px 5px;font-size:16px;border:0;position:absolute;left:13px;top:12px;background:none;width:160px;color:#000}
#search_form .submit			{cursor:pointer;padding:5px 0px 5px 0px;position:absolute;left:187px;top:12px;background:none;color:#fff;width:50px;font-weight:bold;}



#footer							{background:url(../images/footer_bg.png) repeat-x;}
#footer_wrapper    				{width:960px;margin:0 auto;min-height:250px;height:auto!important;height:250px;}
#footer_wrapper .boks			{float:left;width:310px;height:130px;padding:20px 10px 20px 0px;}
#footer_wrapper #footer_text   	{color:#fff;font-size:11px;padding-top:20px;clear:both;}
#footer	h3						{font-family:georgia;font-size:14px; font-weight: bold;}
#footer ul						{padding:2px 0px 0px 0px;}
#footer ul li					{list-style:none;}
#footer ul li a					{display:block; padding:0px 0px 0px 0px;color:#000;font-weight:bold;}
#footer ul li a:hover			{color:#999;}

.form_layout					{padding:20px 0px 20px 0px;}
.form_layout li					{list-style:none;clear:both;padding-top:2px;}
.form_layout li label			{list-style:none;width:120px;float:left;}
.form_layout li input			{width:400px;float:left;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li select			{width:135px;float:left;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li .pro_check		{width:20px;float:left;margin:0 0 0 118px;}
.form_layout li textarea		{width:400px;float:left;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li .submit			{width:auto;cursor:pointer;margin-right:2px;}

.form_layout_adm_l				{padding:20px 0px 20px 0px;}
.form_layout_adm_l li			{list-style:none;clear:both;padding-top:2px;}
.form_layout_adm_l li label		{list-style:none;}
.form_layout_adm_l li input,
.form_layout_adm_l li select,
.form_layout_adm_l li textarea	{width:690px;float:left;padding:2px;border:1px solid #999;background:#fff;}
.form_layout_adm_l li .submit	{width:80px;cursor:pointer;margin-right:2px;}

.form_layout_adm_r				{padding:20px 0px 20px 0px;}
.form_layout_adm_r li			{list-style:none;clear:both;padding-top:2px;}
.form_layout_adm_r li label		{list-style:none;}
.form_layout_adm_r li checkbox  {border:1px solid #999;background:#fff;}
.form_layout_adm_r li select	{width:200px;float:left;padding:2px;border:1px solid #999;background:#fff;}


.list_regular li 				{list-style:none;clear:both;width:690px}

.list_regular_adm 				{width:690px}
.list_regular_adm li 			{list-style:none;clear:both;height:18px;background:#eee;padding:3px 5px 0px 5px;margin-top:2px;}
.list_regular_adm li p			{width:100px;float:left;}
.list_regular_adm li p.r		{float:right;}

.table_regular_adm 				{width:690px}
.table_regular_adm tr			{background:#eee;}
.table_regular_adm tr th,
.table_regular_adm tr td		{text-align:left;padding:3px 5px 3px 5px;border-bottom:2px solid #fff;}
.table_regular_adm tr td.right	{text-align:right;}
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {

    background-image: url(asset-path('bg.gif'));
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {

    background-image:  url(asset-path('asc.gif'));
}
table.tablesorter thead tr .headerSortDown {
    background-image:  url(asset-path('desc.gif'));
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
*								{margin:0;padding:0;}
html,body						{font-family:arial;font-size:12px;background:#fff;height:101%;}
.clr							{clear:both;}
.l								{float:left;}
.r								{float:right;}

h1								{font-family:georgia;font-size:26px;}
h2								{font-family:georgia;font-size:20px;}
h2 a							{text-decoration:none;color:#000}
a								{text-decoration:none;color:#000}
a:hover							{color:#7c121e}

p								{padding:5px 0px 5px 0px;}
ul,ol							{padding:0px 0px 0px 30px;}
.post							{border-bottom:1px solid #eee;padding-bottom:5px;margin-bottom:20px;}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
