<% @page_title = "Nyheter"%>
	<div id='content'>
	<div class="blogg_bk">
			<% @posts_til_liste.each do |post| %>
	<div class="blogg_entry">
					<h1><%= post.title %></h1>
					<p><%= post.created_at.strftime('%d.%m.%Y') %></p>
					<p><%= post.ingress2 %></p>
					<p><%= post.content2 %></p>
	</div>
			<% end %>

	</div>
</div>
