<div id="cookies-bar" class="cookies-bar">
  <p>
    Teatercamp bruker cookies (informasjonskapsler) for å gi deg den beste personlige opplevelsen på nettsiden vår, samt til statistiske formål. Ved å fortsette godkjenner du å motta cookies fra hjemmesiden til teatercamp.
  </p>

  <%= link_to 'Lukk og aksepter', request.original_url, class: 'btn accept' %>

</div>
